<ion-header >
  <ion-toolbar>
    <ion-title>Tierheim-Tiere: Hunde</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-img src="assets/fotos_hunde/ai-generated-8519743_640.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>Tasso</ion-card-title>
      <ion-card-subtitle>5 Jahre alt, sterilisierter Rüde, Airedale Terrier, guter Familienhund</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-img src="assets/fotos_hunde/bernese-mountain-dog-7928156_640.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>Senni</ion-card-title>
      <ion-card-subtitle>3 Jahre alt, Hündin, Berner Sennenhund, sitzt gerne auf Schoß von Bezugspersonen</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-img src="assets/fotos_hunde/dog-5357384_640.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>Misty</ion-card-title>
      <ion-card-subtitle>14 Monate alt, Hündin, Labradoodle, verträgt sich mich anderen Hunden außer Labrador Retrievern und Großpudeln</ion-card-subtitle>
    </ion-card-header>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-title>Bildnachweise</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Alle Fotos auf dieser Seite stammen von <a href="https://pixabay.com/" target="_blank">pixabay.com</a>:<p>
        <ul>
          <li><strong>Tasso:</strong>&nbsp;
              <a href="https://pixabay.com/photos/ai-generated-dog-airedale-terrier-8519743/"
                 target="_blank">Foto 8519743</a>
              von Nutzer
              <a href="https://pixabay.com/users/pedroml-1724523/"
                 target="_blank">pedroml</a>
          </li>
          <li><strong>Senni:</strong>&nbsp;
            <a href="https://pixabay.com/photos/bernese-mountain-dog-cherry-blossoms-7928156/"
               target="_blank">Foto 7928156</a>
            von Nutzer
            <a href="https://pixabay.com/users/guvo59-9285194/"
               target="_blank">guvo59</a>
          </li>
          <li><strong>Misty:</strong>&nbsp;
            <a href="https://pixabay.com/photos/dog-domestic-animal-labradoodle-5357384/"
               target="_blank">Foto 5357384</a>
            von Nutzer
            <a href="https://pixabay.com/users/bru-no-1161770/"
               target="_blank">Bru-nO</a>
          </li>
        </ul>
    </ion-card-content>
  </ion-card>

</ion-content>
