<ion-header >
  <ion-toolbar>
    <ion-title>Tierheim-Tiere: Katzen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-img src="assets/fotos_katzen/cat-8578562_640.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>Penny</ion-card-title>
      <ion-card-subtitle>8 Jahre alt, sterilisierte Katze, verträgt sicht nicht mit anderen Katzen</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-img src="assets/fotos_katzen/cat-2934720_640.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>Krümel</ion-card-title>
      <ion-card-subtitle>3 Jahre alt, Kater, mag keine Kinder</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-img src="assets/fotos_katzen/mammals-3210053_640.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>Nudo</ion-card-title>
      <ion-card-subtitle>5 Jahre alt, kastrierter Kater, muss vor Freigang mit Sonnenschutzmittel eingecremt werden</ion-card-subtitle>
    </ion-card-header>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-title>Bildnachweise</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Alle Fotos von dieser Seite stammen von <a href="https://pixabay.com/" target="_blank">pixabay.com</a>:<p>
        <ul>
          <li><strong>Penny:</strong>&nbsp;
              <a href="https://pixabay.com/photos/cat-alley-cat-european-cat-animal-8578562/"
                 target="_blank">Foto 8578562</a>
              von Nutzer
              <a href="https://pixabay.com/users/jaclou-dl-5602247/"
                 target="_blank">JACLOU-DL</a>
          </li>
          <li><strong>Krümel:</strong>&nbsp;
              <a href="https://pixabay.com/photos/cat-kitten-pets-animals-housecat-2934720/"
                 target="_blank">Foto 2934720</a>
              von Nutzer
              <a href="https://pixabay.com/users/kirgiz03-6995361/"
                 target="_blank">Kirgiz03</a>
          </li>
          <li><strong>Nudo:</strong>&nbsp;
            <a href="https://pixabay.com/photos/mammals-pet-one-cute-cat-animals-3210053/"
               target="_blank">Foto 3210053</a>
            von Nutzer
            <a href="https://pixabay.com/users/kirgiz03-6995361/"
               target="_blank">Kirgiz03</a>
          </li>
        </ul>
    </ion-card-content>
  </ion-card>

</ion-content>
