<ion-header >
  <ion-toolbar>
    <ion-title>Tierheim-Tiere: Papageien</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-img src="assets/fotos_papageien/bird-1823839_640.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>Kunigunde</ion-card-title>
      <ion-card-subtitle>Geschlecht unbekannt, ca. 30 Jahre alt, kann sprechen (aber viele unanständige Wörter)</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-img src="assets/fotos_papageien/parrot-7393413_640.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>Nico</ion-card-title>
      <ion-card-subtitle>Blaustirnamazone, wahrscheinlich weibliches Tier, kann nur ein Wort ("Papa") sagen, schreit dafür um so lauter
        und nagt gerne Stromkabel an
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-img src="assets/fotos_papageien/macaws-5863519_640.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>Fix & Foxi</ion-card-title>
      <ion-card-subtitle>Ara-Pärchen, werden nur gemeinsam vermittelt; Fix spricht nur französisch, aber Foxi kann auf Deutsch übersetzen</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Bildnachweise</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Alle Fotos auf dieser Seite stammen von <a href="https://pixabay.com/" target="_blank">pixabay.com</a>:<p>
        <ul>
          <li><strong>Kunigunde:</strong>&nbsp;
              <a href="https://pixabay.com/photos/bird-parrot-ornithology-species-1823839/"
                 target="_blank">Foto 1823839</a>
              von Nutzer
              <a href="https://pixabay.com/users/yancabrera-3521614/"
                 target="_blank">YanCabrera</a>
          </li>
          <li><strong>Nico:</strong>&nbsp;
            <a href="https://pixabay.com/photos/parrot-bird-perched-animal-7393413/"
               target="_blank">Foto 7393413</a>
            von Nutzer
            <a href="https://pixabay.com/users/oto_boxler-26162471/"
               target="_blank">Oto_Boxler</a>
          </li>
          <li><strong>Fix & Foxi:</strong>&nbsp;
            <a href="https://pixabay.com/photos/macaws-birds-perched-ara-animals-5863519/"
               target="_blank">Foto 5863519</a>
            von Nutzer
            <a href="https://pixabay.com/users/link727-19676537/"
               target="_blank">link727</a>
          </li>
        </ul>
    </ion-card-content>
  </ion-card>

</ion-content>
